* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import "mixins";
  @import "variables";
  @import "header";

  @import "weather-details";
  @import "hourly-forecast";
  @import "daily-forecast.scss";
  @import "footer.scss";
  

 










